In [2]:
import pandas as pd
import numpy as np
import googlemaps
import pandas as pd
from datetime import datetime
gmaps = googlemaps.Client(key='AIzaSyDA1tcl8xYJGOwam-Ut5VPEn5T5lRRqAac')
df_main = pd.read_csv('311_Noise_Complaints.csv')
''' 此py将noise complain 报告提取出18年的数据，并根据neighbr统计出comlain次数，并出表
此py遇到了原始数据庞大，利用Googlemap处理缓慢的问题，所有对于原始数据的地址做了处理（经纬度近似到2位小数），减少处理量'''

C:\Users\Marky\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df_main['Closed Date'] = pd.to_datetime(df_main['Closed Date'])
df_main['year'] = df_main['Closed Date'].dt.year
df1 = df_main.loc[df_main['year']==2018].copy()
df1


def get_nghbr_noise(loc): #此函数利用google map 将经纬度信息输入，返回neighbr名 
    try:
        reverse_geocode_result = gmaps.reverse_geocode(loc,result_type='neighborhood')
        neghbr = reverse_geocode_result[0]['address_components'][0]['long_name'].upper()
        return neghbr
    except:
        return None

#df1['neig'] = df1['Location'].apply(get_nghbr_noise)

In [15]:
df1['NewLoc'] = df1.Latitude.round(2).map(lambda x : str(x)+',') + df1.Longitude.round(2).map(str) 
#此步骤将原表格的经纬度信息近似到两位小数，减少数据处理量

In [52]:
df2 = df1.dropna(subset=['Location']).copy() #drop没有地址的信息条
gr = df2.groupby(df2['NewLoc']) #以处理过的经纬度信息groupby信息条
gr = gr.size().to_frame().reset_index() #计算每个group的compain总和并reindex
gr.columns =(['NewLoc','Number']) #重新给columns命名
gr['neighborhood'] = gr['NewLoc'].apply(get_nghbr_noise) #利用新的经纬度和get_nghbr_noise函数得到neighbr名
#gr

           NewLoc  Number      neighborhood
0     40.5,-74.23       3              None
1     40.5,-74.24      28       TOTTENVILLE
2     40.5,-74.25      18       TOTTENVILLE
3     40.51,-74.2       4              None
4    40.51,-74.21       1              None
5    40.51,-74.22       8        CHARLESTON
6    40.51,-74.23      38       TOTTENVILLE
7    40.51,-74.24      68       TOTTENVILLE
8    40.51,-74.25      58       TOTTENVILLE
9    40.52,-74.17       3              None
10   40.52,-74.18       2              None
11   40.52,-74.19       7      PRINCE'S BAY
12    40.52,-74.2      28      PRINCE'S BAY
13   40.52,-74.21      24      PRINCE'S BAY
14   40.52,-74.22      19        CHARLESTON
15   40.52,-74.23      28       TOTTENVILLE
16   40.52,-74.24       5       TOTTENVILLE
17   40.52,-74.25       1              None
18   40.53,-74.15       3              None
19   40.53,-74.16      18          ANNADALE
20   40.53,-74.17       8          ANNADALE
21   40.53,-74.18       6          ANNADALE
22   40.53,-74.19      10      PRINCE'S BAY
23    40.53,-74.2      14      PRINCE'S BAY
24   40.53,-74.21      18      PRINCE'S BAY
25   40.53,-74.22      40        CHARLESTON
26   40.53,-74.24      13        CHARLESTON
27   40.54,-74.14      45              None
28   40.54,-74.15      81       GREAT KILLS
29   40.54,-74.16      47       ELTINGVILLE
..            ...     ...               ...
836  40.88,-73.84     322       EASTCHESTER
837  40.88,-73.85     441    WILLIAMSBRIDGE
838  40.88,-73.86     714    WILLIAMSBRIDGE
839  40.88,-73.87    1230           NORWOOD
840  40.88,-73.88    1469           NORWOOD
841  40.88,-73.89     445       JEROME PARK
842   40.88,-73.9    1438       JEROME PARK
843  40.88,-73.91    1338       KINGSBRIDGE
844  40.88,-73.92     134    SPUYTEN DUYVIL
845  40.89,-73.82       8       EASTCHESTER
846  40.89,-73.83     138       EASTCHESTER
847  40.89,-73.84     188          EDENWALD
848  40.89,-73.85     442         WAKEFIELD
849  40.89,-73.86    1180         WAKEFIELD
850  40.89,-73.87      32              None
851  40.89,-73.88       4              None
852  40.89,-73.89      28              None
853   40.89,-73.9     447         FIELDSTON
854  40.89,-73.91     574         RIVERDALE
855  40.89,-73.92      65              None
856   40.9,-73.84     116         WAKEFIELD
857   40.9,-73.85     475         WAKEFIELD
858   40.9,-73.86     180         WAKEFIELD
859   40.9,-73.87     109  WOODLAWN HEIGHTS
860   40.9,-73.88       7              None
861    40.9,-73.9     168         FIELDSTON
862   40.9,-73.91      74       HUDSON HILL
863  40.91,-73.85     437        NORTH SIDE
864   40.91,-73.9     242   NORTH RIVERDALE
865  40.91,-73.91      31   NORTH RIVERDALE

[866 rows x 3 columns]

In [56]:
gr2 = gr.dropna().groupby(gr['neighborhood']) #去除缺少信息的信息条，并以neighbr groupby

In [75]:
df_final = gr2.sum() #计算每个neighbr complain总和

In [78]:
df_final['Number'] = df_final['Number']
df_final['NormalValue'] = 100-(100*((df_final['Number'] - df_final['Number'].min())
                               /(df_final['Number'].max() - df_final['Number'].min()))) #初步的Normalization
df_final['Noise_Score'] = 0.05*df_final['NormalValue'] 
#df_final
df_final.to_csv('Noise.csv')